* {
    margin: 0;
    padding: 0;
}

body {
    background: #ECECEC;
    font-family: "poppins", sans-serif;
}

.hero {
    background: linear-gradient(90deg, rgba(101,81,128,1) 0%, rgb(138, 14, 59) 100%) no-repeat;
    height: 450px;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    height: 60px;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    font-family: "inter", sans-serif;
}

.nav-links {
    margin-right: 40px;
    display: flex;
    gap: 40px;
    
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links:hover,
.nav-links:focus {
    border-bottom: 1px solid #fff;
}


.name {
    color: #fff;
    text-align: center;
    
    border-bottom: #fff solid 3px;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 24px;
}

.name h2 {
    font-size: 42px;
    font-weight: 400;
}

.name h3 {
    font-size: 37px;
    font-weight: 400;
}
.about {
    width: 950px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 22px;
    padding: 40px;
    box-shadow: 1px 6px 30px 24px #0000001A;
    margin-bottom: 200px;
    position: absolute;
    top: 39%;
    left: 14%;
}



.about a {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(138, 14, 59);
    margin-top: 20px;
}

.about a:hover,
.about a:focus {
    color: #ddd;;
}

.about i  {
    display: flex;
    align-items: center;
    
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 525px; 
    margin: 0 auto;
    gap: 73px;
    font-size: 64px;
    
}

.links a {
    text-decoration: none;
    color: #fff;
}

.links a:hover,
.links a:focus {
    color: #ddd;
    
}


